.credentials-header {
    margin-top: 7rem;
    font-family: "lato", sans-serif;
}

.credentials-title {
    float: left;
}

.right-credentials {
    float: right;
    font-family: "lato", sans-serif;
}

.first-credentials {
    background-color: #5c99d6;
    width: 30rem;
    color: #fff;
    padding: 1.8rem;
    margin: 1rem;
    border-radius: 10px;
}

.first-credentials h3 {
    font-family: "lato", sans-serif;
    font-size: 1.6rem;
}

.second-credentials {
    background-color: #5c99d6;
    width: 30rem;
    color: #fff;
    padding: 1.8rem;
    margin: 1rem;
    border-radius: 10px;
    font-family: "lato", sans-serif;
}

.third-credentials {
    border-radius: 10px;
    float: left;
    width: 30rem;
    letter-spacing: 2px;
    margin-bottom: 2rem;
    font-family: "lato", sans-serif;
}

.third-credentials h1 {
    font-size: 3rem;
    padding: 0;
    margin: 0;
    width: 10rem;
    margin-left: 1rem;
    font-family: "lato", sans-serif;
    font-family: "lato", sans-serif;
}

.third-credentials p {
    border-radius: 10px;
    letter-spacing: 2px;
    padding: 1.4rem;
    font-size: 1.3rem;
    float: left;
    font-family: "lato", sans-serif;
}

hr {
    border: 2px solid #5c99d6;
    width: 20rem;
    float: left;
    margin-left: 1rem;
}

@media only screen and (max-width: 400px) {
    .first-credentials {
        padding: 1.5rem 5rem;
        margin: 1rem;
    }
    .second-credentials {
        padding: 1.8rem 5rem;
        margin: 1rem;
    }
}