.body1 {
    margin: 0;
    padding: 0;
    font-size: 50%;
    font-family: "lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #000;
}

.header1 {
    height: 95vh;
    background-image: linear-gradient( to right bottom, rgba(6, 1, 19, 0.589), #5d63637e), url(./images/coding-background2.jpg);
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    position: relative;
}

.header__text-box {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: #fff;
}

.heading-primary--main {
    text-transform: uppercase;
    display: block;
    letter-spacing: 0.8rem;
    line-height: 2;
    font-weight: 400;
    font-size: 4rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.socailMedia-icons i {
    font-size: 2.5rem;
    color: #000;
    transition: ease-in 0.2s;
}

.socailMedia-icons i:hover {
    color: #5c99d6;
}

.heading-primary--sub {
    display: block;
    letter-spacing: 1rem;
    line-height: 2;
    font-size: 2rem;
    font-weight: 1000;
    animation-name: moveInTop;
    animation-duration: 2.3s;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100rem);
    }
    80% {
        opacity: 0.7;
        transform: translateX(3rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveInTop {
    0% {
        opacity: 1;
        transform: translateY(-200rem);
    }
    80% {
        opacity: 0.7;
    }
    90% {
        opacity: 0;
        transform: translateY(2rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 1;
        transform: translateY(20rem);
    }
    88% {
        opacity: 1;
        transform: translateY(-3rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn:link,
.btn:visited {
    font-family: "Fredoka One", serif, "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.5rem 1.4rem;
    display: inline-block;
    margin-right: 1rem;
    transition: all;
    font-size: 1.4rem;
    transition-duration: 0.4s;
    backface-visibility: hidden;
}

.btn--animated {
    animation-name: moveInBottom;
    animation-duration: 1.5s;
}

.btn:hover {
    transform: translateY(-0.3rem);
}

.btn:active {
    transform: translateY(0rem);
    box-shadow: 0 0.2rem 0.7rem;
}

.btn--white {
    background-color: #fff;
    color: #5c99d6;
    border-radius: 0.5rem;
    margin: 2rem 2rem;
}

h1 {
    font-family: "Fredoka One", Arial, Helvetica, sans-serif;
    text-align: center;
}

.icon {
    margin: 2rem 0 0 0;
    transition: 1.7s;
    transition-timing-function: ease-in;
}

.icon {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    animation-duration: 1.2s;
    animation-name: jiggle;
    animation-iteration-count: infinite;
    position: relative;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

@keyframes jiggle {
    20% {
        transform: scale(1.3);
        bottom: 0;
        color: #fff;
    }
    100% {
        transform: scale(1);
        bottom: 0;
        color: #5c99d6;
    }
}

@media only screen and (max-width: 1200px) {
    .header__text-box {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .heading-primary--main {
        font-size: 3rem;
    }
    heading-primary--sub {
        font-size: 1.5rem;
    }
    .btn:link,
    .btn:visited {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 400px) {
    .heading-primary--main {
        font-size: 2rem;
    }
    heading-primary--sub {
        font-size: 1.5rem;
    }
    .btn:link,
    .btn:visited {
        font-size: 0.7rem;
    }
}